html, body {
    margin: 5%;
    padding: 0;

    background: #263238;
    color: white;
    font-size: 1em;
}

.box {
    padding: 1% .5%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    background-color: #455a64;
    color: #cfd8dc;
}

#app {
    padding: 0 1.5%;

    width: 10%;
    height: 100%;
}

#service_output {
    padding: 1%;

    background: #263238;
    font-style: italic;
}
