html, body {
    margin: 0;
    padding: 3% 10%;
    background: #263238;
    color: white;
}

.box {
    width: auto;
    height: auto;

    margin: 0;
    padding: 3% 5%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    background-color: #455a64;
    color: #cfd8dc;
}

#app {

}

#service_output {
    font-style: italic;
}