<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<head>
<title><%= htmlWebpackPlugin.options.title %></title>
<!-- GENERATED -->
</head>
<body>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Chatty
            </h1>
            <h2 class="subtitle">
                Your own communication channel! Your own cloud chat service!
            </h2>
        </div>
    </div>
</section>
<div class="box" id="ws">
    <div class="container">
        <h1 class="title">Service</h1>
        <div class="field">
            <p class="control">
                <label for="ws_input" class="label">Service address:</label>
            </p>
            <p class="control">
                <input id="ws_input" class="input" onchange="checkInput()"/>
            </p>
            <br/>
            <p class="control">
                <button onclick="onAddWS();" id="addServiceBtn" class="button is-primary" disabled>Enter</button>
            </p>
        </div>
    </div>
</div>
<div class="box" id="service_output_box">
    <div class="container" id="service_output"></div>
</div>
<span id="app"></span>
<!-- GENERATED -->
</body>
</html>
